@page "/word-2-word-match-game/en"
@using BlazorBootstrap
@using My1kWordsEe.Models
@using My1kWordsEe.Models.Games
@using My1kWordsEe.Services.Cqs

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@code {
    Word2WordMatchGame Game = new(Array.Empty<Word2WordMatchGame.Pair>());

    string[] EeWords = Array.Empty<string>();
    string[] EnWords = Array.Empty<string>();

    string SelectedEeWord = string.Empty;
    string SelectedEnWord = string.Empty;

    protected override async Task OnParametersSetAsync()
    {
        Game = await Word2WordMatchGame.Generate();
        this.EeWords = Game.EeWords.Keys.ToArray();
        this.EnWords = Game.EnWords.Keys.ToArray();
        Random.Shared.Shuffle(EeWords);
        Random.Shared.Shuffle(EnWords);
        await base.OnParametersSetAsync();
    }

    private void SelectEnWord(string enWord)
    {
        SelectedEnWord = enWord;
    }

    private void SelectEeWord(string eeWord)
    {
        SelectedEeWord = eeWord;
    }

    private CardColor GetEnCardColor(string enWord)
    {
        if(SelectedEnWord == enWord)
        {
            return CardColor.Warning;
        }

        return CardColor.Light;
    }

    private CardColor GetEeCardColor(string eeWord)
    {
        if(SelectedEeWord == eeWord)
        {
            return CardColor.Warning;
        }

        return CardColor.Light;
    }
}

<div class="text-left">
    <div class="row">
        <div class="col-4">
            <h3>Match word pairs</h3>
        </div>
        <div class="col-8">
            @if (Game.IsFinished)
            {
            }
        </div>
    </div>
    <div class="row">
        @if (Game.Pairs.Any())
        {
            <div class="col-6">
                @foreach (var enWord in this.EnWords)
                {
                    <Card Color="@GetEnCardColor(enWord)" Class="mb-4" Style="width:18rem;" role="button" @onclick="@(e => SelectEnWord(enWord))">
                        <CardBody>
                            <CardTitle>@enWord</CardTitle>
                        </CardBody>
                    </Card>
                }
            </div>

            <div class="col-6">
                @foreach (var eeWord in this.EeWords)
                {
                    <Card Color="@GetEeCardColor(eeWord)" Class="mb-4" Style="width:18rem;" role="button" @onclick="@(e => SelectEeWord(eeWord))">
                        <CardBody>
                            <CardTitle>@eeWord</CardTitle>
                        </CardBody>
                    </Card>
                }
            </div>
        }
        else
        {
            <div class="d-flex justify-content-center">
                <Spinner />
            </div>
        }
    </div>
</div>