@page "/translate-game/en"
@page "/translate-game/en/{eeWord}/{sampleIndex:int}"

@rendermode @(new InteractiveServerRenderMode(prerender: false))

@using BlazorBootstrap
@using CSharpFunctionalExtensions
@using My1kWordsEe.Components.Layout
@using My1kWordsEe.Models
@using My1kWordsEe.Models.Games
@using My1kWordsEe.Services.Cqs

@inject TranslateToEnGameFactory TranslateToEnGameFactory;
@inject NavigationManager Navigation;
@inject IJSRuntime JS;

@code {
    [Parameter]
    public string? EeWord { get; init; }

    [Parameter]
    public int? SampleIndex { get; init; }

    Maybe<TranslateToEnGame> Game;
    Maybe<string> GameGenerationError;

    protected override async Task OnParametersSetAsync()
    {
        var gameGen = await TranslateToEnGameFactory.Generate(EeWord, SampleIndex);
        if (gameGen.IsSuccess)
        {
            if (EeWord == null)
            {
                Navigation.NavigateTo($"/translate-game/en/{gameGen.Value.EeWord}/{gameGen.Value.SampleIndex}");
            }
            else
            {
                Game = gameGen.Value;
            }
        }
        else
        {
            GameGenerationError = gameGen.Error;
        }
        await base.OnParametersSetAsync();
    }

    // todo add succes/fail sound
    private Task OnSubmit() => Game.Value.Submit();

    private async Task PlaySample(MouseEventArgs e)
    {
        await JS.InvokeVoidAsync("playAudioSample", Game.Value.AudioUrl);
    }

    private void RegenGame() => Navigation.NavigateTo($"/translate-game/en");
}

<script>
    window.playAudioSample = async (audioId) => {
        const audio = document.getElementById(audioId);
        await audio.play();
    };
</script>

<div class="text-left">
    <div class="row">
        <div class="col-7">
            <h3>Translate to English</h3>
        </div>
        <div class="col-5">
            @if (Game.HasValue && Game.Value.IsFinished)
            {
                <Button Color="ButtonColor.Primary" Type="ButtonType.Reset" @onclick="@RegenGame">
                    <i class="bi bi-arrow-repeat"></i>
                    Try again!
                </Button>
            }
        </div>
    </div>
    <div class="row">

        @if (Game.HasValue)
        {
            var game = Game.Value;
            <div class="row">
                <div class="card text-center">
                    <div class="card-body">
                        <h5 class="card-title">
                            @game.EtSentence
                            <button type="button" class="btn btn-primary btn-sm" @onclick="PlaySample">
                                <i class="bi bi-volume-down-fill"></i>
                            </button>
                            <audio id="@game.AudioUrl" src="@game.AudioUrl"></audio>
                            <FavoriteOutlineButton Sample="@game.SampleSentence" />
                        </h5>
                        <img id="sampleImage" class="img-fluid rounded img-max-w-256 p-1" src="@game.ImageUrl" />

                        @if (game.CheckResult.HasValue && game.CheckResult.Value.IsSuccess)
                        {
                            var checkResult = game.CheckResult.Value.Value;

                            <ul class="list-group">
                                @if (checkResult.IsMaxMatch)
                                {
                                    <li class="list-group-item list-group-item-success">
                                        @checkResult.EnUserSentence
                                    </li>
                                }
                                else
                                {
                                    <li class="list-group-item list-group-item-warning">
                                        @checkResult.EnUserSentence
                                        (@checkResult.Match / 5)
                                    </li>
                                    <li class="list-group-item list-group-item-success">
                            @checkResult.EnExpectedSentence
                        </li>
                                    <li class="list-group-item list-group-item-info">
                            @checkResult.EnComment
                        </li>
                                }
                            </ul>
                        }
                        @if (game.CheckResult.HasValue && game.CheckResult.Value.IsFailure)
                        {
                            <p class="text-danger">
                                @game.CheckResult.Value.Error
                            </p>
                        }
                        @if (game.IsCheckInProgress)
                        {
                            <div class="text-center">
                                <Spinner />
                            </div>
                        }
                        else if (game.CheckResult.HasNoValue)
                        {
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Your translation:</label>
                                </div>
                                <div class="col-md-4 p-1">
                                    <InputTextArea @bind-Value="@game.UserTranslation" class="form-control"
                                        autocomplete="off" />
                                </div>
                                <div class="col-md-4">
                                    <button @onclick="@OnSubmit" class="btn btn-outline-primary" type="button">Submit</button>

                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        }
        else if (GameGenerationError.HasNoValue)
        {
            <div class="d-flex justify-content-center">
                <Spinner />
            </div>
        }

        @if (GameGenerationError.HasValue)
        {
            <p class="text-danger">
                @GameGenerationError
            </p>
        }
    </div>
</div>
<Preload LoadingText="Loading..." />