@using My1kWordsEe.Services;
@using My1kWordsEe.Models;
@using CSharpFunctionalExtensions;

@inject IJSRuntime JS

@code {
    [Parameter]
    public required SampleSentence Sample { get; init; }

    private async Task PlaySample(MouseEventArgs e)
    {
        await JS.InvokeVoidAsync("playAudioSample", Sample.EeAudioUrl);
    }
}

<script>
    window.playAudioSample = async (audioId) => {
        const audio = document.getElementById(audioId);
        await audio.play();
    };
</script>

<style>
    .img-max-w-256 {
        max-width: 256px;
        width: 100%;
    }
</style>

<ul class="list-group">
    <li class="list-group-item">
        @Sample.EeSentence
        <button type="button" class="btn btn-primary" @onclick="PlaySample">
            <i class="bi bi-volume-down-fill"></i>
        </button>
        <audio id="@Sample.EeAudioUrl" src="@Sample.EeAudioUrl"></audio>
    </li>
    <li class="list-group-item">
        @Sample.EnSentence
    </li>
    <li class="list-group-item">
        <img id="sampleImage" class="img-fluid rounded img-max-w-256" src="@Sample.ImageUrl" />
    </li>
</ul>
