@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Identity
@using My1kWordsEe.Components.Account
@using My1kWordsEe.Data
@using My1kWordsEe.Services;
@using My1kWordsEe.Services.Cqs
@using My1kWordsEe.Models;
@using CSharpFunctionalExtensions;
@using System.Security.Claims

@rendermode InteractiveServer

@inject IdentityUserAccessor UserAccessor
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

@code {
    [Parameter]
    public required SampleSentence Sample { get; init; }

    // todo: i guess we can get rid of it
    [Parameter]
    public Func<SampleSentence, Task>? AddToFavorites { get; init; }

    // todo: i guess we can get rid of it
    [Parameter]
    public Func<SampleSentence, Task>? RemoveFromFavorites { get; init; }

    [Parameter]
    public Func<SampleSentence, Task>? DeleteSample { get; init; }

    [Parameter]
    public bool IsFavorite { get; init; }

    private bool IsAdmin { get; set; } = false;

    private bool IsLoggedIn { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState != null)
        {
            IsLoggedIn = authState.User.Identity?.IsAuthenticated ?? false;
            IsAdmin = authState.User.HasClaim(c => c.Type == ClaimTypes.Role && c.Value == "admin");
        }
    }

    private async Task PlaySample(MouseEventArgs e)
    {
        await JS.InvokeVoidAsync("playAudioSample", Sample.EeAudioUrl);
    }
}

<script>
    window.playAudioSample = async (audioId) => {
        const audio = document.getElementById(audioId);
        await audio.play();
    };
</script>

<Card>
    <CardBody>
        <table class="table">
            <tbody>
                <tr>
                    <td>
                        @Sample.EeSentence
                    </td>
                    <td rowspan="3">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item border-0">
                                <Button Color="ButtonColor.Primary" Size="ButtonSize.Small" @onclick="PlaySample">
                                    <i class="bi bi-volume-down-fill"></i>
                                </Button>
                                <audio id="@Sample.EeAudioUrl" src="@Sample.EeAudioUrl"></audio>
                            </li>
                            @if (IsLoggedIn)
                            {
                                <li class="list-group-item border-0">
                                    @if (IsFavorite && RemoveFromFavorites != null)
                                    {
                                        <Button Color="ButtonColor.Primary" Outline="true" Size="ButtonSize.Small" @onclick="() => RemoveFromFavorites(Sample)">
                                            <i role="button" class="bi bi-star-fill"></i>
                                        </Button>
                                    }
                                    else if (AddToFavorites != null)
                                    {
                                        <Button Color="ButtonColor.Primary" Outline="true" Size="ButtonSize.Small" @onclick="() => AddToFavorites(Sample)">
                                            <i role="button" class="bi bi-star"></i>
                                        </Button>
                                    }
                                </li>
                            }
                            @if (IsAdmin && DeleteSample != null)
                            {
                                <li class="list-group-item border-0">
                                    <Button Color="ButtonColor.Danger" Size="ButtonSize.Small" @onclick="() => DeleteSample(Sample)">
                                        <i class="bi bi-trash3-fill"></i>
                                    </Button>
                                </li>
                            }
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td>
                        @Sample.EnSentence
                    </td>
                </tr>
                <tr>
                    <th>
                        <img id="sampleImage" class="img-fluid rounded img-max-w-256" src="@Sample.ImageUrl" />
                    </th>
                </tr>
            </tbody>
        </table>
    </CardBody>
</Card>
